node_modules
npm-debug.log
*.log
*.diff
.nuxt
.output
package-lock.json
yarn.lock
unpackage
~$*.xlsx
target
Cargo.lock
deno.lock

*/typings/ids.d.ts
*/typings/types.ts

/build
/log
/error.js
pnpm-lock.yaml
codegening.txt

publish_cnf.js

/rust/target
/rust/Cargo.lock
/rust/generated/common/gql/schema.graphql

/pc/typings/components.d.ts
/pc/typings/auto-imports.d.ts
/pc/vite.config.mts.timestamp-*.mjs
database_crypto_key.txt

docs/.vitepress/cache
docs/.vitepress/dist
