$menu_left_width: 200px;
$menu_top_height: 40px;

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent;
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(144, 146, 152, 0.3);
}
html,body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  --el-font-size-base: 14px;
  font-size: var(--el-font-size-base);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
#app {
  flex: 1 0 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.el-form {
  label {
    white-space: nowrap;
    display: flex;
    align-items: center;
  }
  .el-form-item {
    margin-bottom: 0;
    width: 100%;
    --font-size: var(--el-font-size-base);
  }
}
.el-divider.el-divider--horizontal {
  margin-top: 15px;
  margin-bottom: 15px;
}
.dialog_fullscreen {
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  max-height: 100%;
}
.dark .el-dialog {
  background-color: var(--el-fill-color-lighter);
}
//弹出框滚动条优化
.el-dialog.custom_dialog {
  height: 90vh;
  --el-dialog-width: 960px;
  --el-dialog-padding-primary: 0;
  border-radius: var(--el-border-radius-base);
  .el-dialog__footer {
    display: none;
  }
}
.el-dialog__body {
  --el-dialog-content-font-size: var(--el-font-size-base);
}
.el-overlay-dialog {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  .el-dialog {
    margin: 0;
  }
  .el-dialog.custom_dialog.is-fullscreen {
    height: 100%;
    overflow: auto;
    max-height: 100%;
    width: 100%;
  }
  .el-dialog.custom_dialog {
    min-width: 460px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    .el-dialog__body {
      overflow-y: auto;
      flex: 1 0 0;
      overflow: auto;
      display: flex;
      flex-direction: column;
      padding: 0;
    }
    .el-dialog.is-fullscreen {
      height: 100%;
    }
    .el-dialog__headerbtn {
      width: 30px;
      height: 30px;
      right: 5px;
      top: 5px;
    }
    .el-dialog__headerbtn .el-dialog__close:hover {
      color: red;
    }
  }
  // 自动高度的弹出框
  .el-dialog.auto_dialog {
    height: auto;
    width: auto;
    max-height: 98vh;
    overflow: auto;
    .el-dialog__body {
      flex-basis: auto;
    }
    .content_div {
      flex-basis: auto;
    }
  }
  .el-dialog__header {
    --el-dialog-padding-primary: 0;
    .dialog_title {
      display: flex;
      padding: 10px;
      padding-right: 26px;
      color: var(--el-text-color-regular);
      margin-right: 10px;
    }
    .title_lbl {
      flex: 1 0 0;
      overflow: hidden;
    }
    .full_but {
      cursor: pointer;
      position: relative;
      top: 2px;
      width: 13px;
      height: 13px;
    }
    .full_but:hover {
      color: var(--el-color-primary);
    }
    .unlock_but,.lock_but,.reset_but,.select_refresh_icon {
      position: relative;
      top: 1px;
      cursor: pointer;
      width: 15px;
      height: 15px;
      margin-right: 8px;
    }
    .unlock_but:hover,.lock_but:hover,.select_refresh_icon:hover {
      color: var(--el-color-primary);
    }
    .notice_span,.reset_but:hover {
      color: red;
      margin-left: 8px;
      font-size: 13px;
    }
  }
}
div.el-overlay.is-message-box::after {
  content: none;
}
.el-overlay.is-message-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .el-table--small {
  .el-table__header {
    thead tr {
      height: 37px;
    }
  }
  .el-table__row {
    height: 37px;
  }
  .cell {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 13px;
  }
  th.el-table__cell {
    padding: 3px 0;
  }
  td.el-table__cell {
    padding: 0;
  }
  .el-table__footer-wrapper {
    .el-table__footer tr {
      height: 29px;
    }
  }
}
.el-table--enable-row-transition .el-table__body td.el-table__cell {
  transition: unset;
}
// 复选框
body .el-checkbox.el-checkbox--small {
  height: auto;
  .el-checkbox__inner {
    width: 14px;
    height: 14px;
  }
  .el-checkbox__inner::after {
    width: 3px;
    height: 7px;
  }
  .el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
    top: 5px;
  }
}
body .el-input-number {
  width: 100%;
}
.el-input-number.is-without-controls {
  .el-input__wrapper {
    padding-left: 11px;
    padding-right: 11px;
  }
}
body .el-input-number.is-without-controls .el-input__inner {
  text-align: inherit;
}
.el-table {
  .table_current_row {
    background-color: var(--el-fill-color);
  }
  .table_current_row.hover-row {
    background-color: var(--el-fill-color);
  }
  .el-table__body tr.table_current_row:hover>td.el-table__cell {
    background-color: var(--el-fill-color);
  }
}
.dark .el-table {
  .table_current_row {
    background-color: var(--el-fill-color);
  }
  .table_current_row.hover-row {
    background-color: var(--el-fill-color);
  }
  .el-table__body tr.table_current_row:hover>td.el-table__cell {
    background-color: var(--el-fill-color);
  }
}
.el-date-editor.el-input, .el-date-editor.el-input__inner {
  --el-date-editor-width: 100%;
}
.el-date-editor.el-input>.el-input__wrapper {
  width: 100%;
}
.el-form .el-form-item--default.el-form-item.img_form_item, .el-form .el-form-item--small.el-form-item.img_form_item {
  width: auto;
}
.el-form .el-form-item__error {
  padding: 0;
}
.el-form .el-form-item__label {
  padding-right: 4px;
  box-sizing: border-box;
}

.select_input_wrapper {
  @apply flex items-stretch w-full box-border;
  .el-input {
    @apply box-border flex-[1_0_0];
    .el-input__inner {
      @apply cursor-pointer;
    }
  }
}
.select_input_wrapper.label_readonly_1 {
  @apply cursor-pointer;
}
.select_input_wrapper.label_readonly_0 {
  .el-input {
    .el-input__inner {
      @apply cursor-auto;
    }
  }
}

.el-tree {
  .el-tree-node.is-current>.el-tree-node__content {
    background-color: rgba(210,210,210,.8);
  }
  .el-tree-node>.el-tree-node__content:hover {
    background-color: rgba(210,210,210,.8);
  }
}
.dark .el-tree {
  .el-tree-node.is-current>.el-tree-node__content {
    background-color: rgba(81, 81, 81,.8);
  }
  .el-tree-node>.el-tree-node__content:hover {
    background-color: rgba(81, 81, 81,.8);
  }
}
.el-flex-card.el-card {
  display: flex;
  flex-direction: column;
  .el-card__body {
    flex: 1 0 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }
}
// flex布局的el-tabs
.el-tabs.el-flex-tabs.el-tabs {
  flex: 1 0 0;
  overflow: hidden;
  width: 100%;
  .el-tabs__header {
    margin: 0;
  }
  .el-tabs__content, .el-tab-pane {
    flex: 1 0 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }
}
.el-tabs.el-tabs--card {
  .el-tabs__header {
    .el-tabs__item.is-active {
      background-color: var(--el-fill-color-extra-light);
    }
  }
}
// 最大号的弹出框
.el-dialog.large_dialog {
  width: calc(100% - 100px);
  height: calc(100% - 20px);
}
// 中等大小的弹出框
.el-dialog.medium_dialog {
  width: 1250px;
}
.dark .filter_invert {
  filter: invert(1) hue-rotate(180deg);
}
.el-icon img {
  height: 1em;
  width: 1em;
}
.swiper-slide {
  overflow-y: auto;
}
// 弹出框点击穿透
.el-overlay:has(.pointer_pierce_dialog) {
  pointer-events: none;
  .pointer_pierce_dialog {
    pointer-events: auto;
  }
}
.is-draggable {
  cursor: move;
}
// 限制菜单的最大高度
.el-scrollbar__view.el-dropdown__list {
  max-height: 650px;
}
// Excel预览
.hide-input {
  display: none;
}
.tr_border_none.el-table:not(.el-table--border) .el-table__cell {
  border-bottom: 0;
}

.custom_date_picker {
  .el-input__suffix-inner {
    width: 1em;
    .el-icon {
      padding: 0;
      margin: 0;
    }
  }
}

:root {
  --el-overlay-color-lighter: rgba(0, 0, 0, 0.4);
}

:root {
  --readonly_font_color: #909399;
}
html:is(.dark) {
  --readonly_font_color: #909399;
}
.dict_select_readonly,
.dictbiz_select_readonly,
.custom_select_readonly,
.custom_input_readonly:not(.select_input),
.custom_date_picker_readonly,
.custom_city_picker_readonly,
.custom_input_number_readonly,
.custom_switch_readonly,
.custom_checkbox_readonly,
.custom_tree_select_readonly {
  color: var(--readonly_font_color);
}
.custom_date_picker_readonly {
  .el-input__inner {
    color: var(--readonly_font_color);
  }
  .el-input__prefix-inner {
    display: none;
  }
}

.el-form-item {
  .el-form-item__label {
    padding-left: 10.38px;
    box-sizing: border-box;
  }
}
.el-form-item.is-required {
  .el-form-item__label {
    padding-left: 0;
    box-sizing: border-box;
  }
}

.el-form-item:has(
  .dict_select_readonly,
  .dictbiz_select_readonly,
  .custom_select_readonly,
  .custom_input_readonly:not(.select_input),
  .custom_date_picker_readonly,
  .custom_city_picker_readonly,
  .custom_color_picker_readonly,
  .custom_input_number_readonly,
  .custom_switch_readonly,
  .custom_checkbox_readonly,
  .custom_tree_select_readonly
).is-required:not(.is-no-asterisk).asterisk-left>.el-form-item__label-wrap>.el-form-item__label:before,
.el-form-item:has(
  .dict_select_readonly,
  .dictbiz_select_readonly,
  .custom_select_readonly,
  .custom_input_readonly:not(.select_input),
  .custom_date_picker_readonly,
  .custom_city_picker_readonly,
  .custom_color_picker_readonly,
  .custom_input_number_readonly,
  .custom_switch_readonly,
  .custom_checkbox_readonly,
  .custom_tree_select_readonly
).is-required:not(.is-no-asterisk).asterisk-left>.el-form-item__label:before {
  color: var(--readonly_font_color);
}

.custom_input_placeholder {
  color: var(--readonly_font_color);
}

.v-header-order-drag-sortable-drag {
  color: red;
}

.el-form-item .el-form-item__content {
  line-height: unset;
  // flex-wrap: nowrap;
  // overflow: hidden;
}
.el-form-item .el-form-item__content:has(> .custom_input_align_center)>.el-form-item__error {
  left: 50%;
  transform: translateX(calc(-50% - 11px));
}
.el-form-item .el-form-item__content:has(> .custom_input_align_right)>.el-form-item__error {
  left: auto;
  right: 0;
}

.el-form-item .custom_city_picker,
.el-form-item .custom_city_picker_readonly {
  width: 100%;
  .custom_city_picker_readonly_content {
    @apply p-y-1.25;
  }
  .el-cascader {
    width: 100%;
  }
}

.inlineMany2manyTab_table {
  .dict_select_readonly,
  .dictbiz_select_readonly,
  .custom_select_readonly,
  .custom_input_readonly,
  .custom_date_picker_readonly,
  .custom_city_picker_readonly,
  .custom_color_picker_readonly,
  .custom_input_number_readonly,
  .custom_switch_readonly,
  .custom_checkbox_readonly,
  .custom_tree_select_readonly {
    border: none;
  }
  .el-table__body .el-table__row:last-child>.el-table__cell {
    border-bottom: none;
  }
  .el-table__body .el-table__row:last-child.hover-row>.el-table__cell {
    --el-table-row-hover-bg-color: initial;
  }
}

.table_data_sortable_handle {
  cursor: move;
}

.el-select-dropdown .el-select-dropdown__item.is-selected::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  border-top: none;
  border-right: none;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--el-color-primary);
  mask: url("data:image/svg+xml;utf8,%3Csvg class='icon' width='200' height='200' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='currentColor' d='M406.656 706.944L195.84 496.256a32 32 0 10-45.248 45.248l256 256 512-512a32 32 0 00-45.248-45.248L406.592 706.944z'%3E%3C/path%3E%3C/svg%3E") no-repeat;
  mask-size: 100% 100%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
}
