node_modules
.DS_Store
dist
dist-ssr
*.local
package-lock.json
pnpm-lock.yaml
.eslintrc-auto-import.json

yarn.lock

src/typings/types.ts
src/typings/auto-imports.d.ts
src/typings/components.d.ts

**/vite.config.mts.timestamp-*.mjs
