registry=https://registry.npmmirror.com/
unsafe-perm=true
node-options=--max-old-space-size=4096
loglevel=error
public-hoist-pattern[]=*@vue/*
public-hoist-pattern[]=perfect-debounce
public-hoist-pattern[]=hookable
public-hoist-pattern[]=birpc
