# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# 生成的类型文件
**/typings/types.ts
**/typings/auto-imports.d.ts
**/typings/components.d.ts

typings/types.ts
