page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  --color-primary: #0163ff;
  font-size: 28rpx;
  background-color: #f7f7f7;
}

tm-form,tm-form .tmForm {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.block_from > .tmForm {
  flex-basis: inherit;
  flex: auto;
  overflow: unset;
}

.tmFormItemLabel {
  text-align: right;
  margin-right: 24rpx;
}

// .tmFormItem:has(.tmFormItemWrapContent .custom_input_readonly) {
//   .tmFormItemWrap>.tmFormItemLabel>.tmFormRequired {
//     color: gray;
//   }
// }

.custom_select_readonly {
  color: #888888;
}
