page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  --color-primary: #0163ff;
  --color-readonly: #888888;
  --font-size: 34rpx;
  font-size: var(--font-size);
  background-color: #fafafa;
}

.tmFormItemLabel {
  text-align: right;
  margin-right: 8rpx;
}

.custom_select_readonly {
  color: var(--color-readonly);
}
