page,.tmDrawerWrap,.tmModalWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  --color-primary: #0163ff;
  --color-readonly: #888888;
  --font-color: #333333;
  --font-size: 34rpx;
  --page-bg: #fafafa;
  font-size: var(--font-size);
  background-color: var(--page-bg);
  color: var(--font-color);
  --color-gray-200: #E5E7EB;
}

.tmFormItemLabel {
  text-align: right;
  margin-right: 8rpx;
}

.custom_select_readonly {
  color: var(--color-readonly);
}

.custom_input_placeholder {
  color: var(--color-readonly) !important;
}
