page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 14px;
}

tm-app.n-flex {
  > view {
    flex: 1 0 0;
    overflow: hidden;
  }
}

tm-side-menu {
  flex: 1 0 0;
  overflow: hidden;
  > view {
    flex: 1 0 0;
    overflow: hidden;
  }
}

// tm-sheet {
//   display: flex;
// }
