page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

tm-form,tm-form .tmForm {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.tmFormItemLabel {
  text-align: right;
  margin-right: 24rpx;
}
